<mat-toolbar class="toolbarNew" color="primary">
    <span class="title-center">Stavka porudžbine</span>
  </mat-toolbar>
  <div class="container mat-elevation-z8">
    <mat-form-field>
      <input
        matInput
        placeholder="Filter"
        (keyup)="applyFilter($event)"
      />
    </mat-form-field>
    <mat-table #table [dataSource]="dataSource" class="mat-cell" matSort>
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="brojIndeksa">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Broj Indeksa</mat-header-cell
        >
        <mat-cell *matCellDef="let row"> {{ row.brojIndeksa }}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="ime">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Ime</mat-header-cell
        >
        <mat-cell *matCellDef="let row"> {{ row.ime }}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="prezime">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Prezime</mat-header-cell
        >
        <mat-cell *matCellDef="let row"> {{ row.prezime }}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="grupa">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Grupa</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.grupa.oznaka }}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="projekat">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Projekat</mat-header-cell
        >
        <mat-cell *matCellDef="let row"> {{ row.projekat.naziv }}</mat-cell>
      </ng-container>
      <!-- actions -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="primary" (click)="openDialog(1)">
            <mat-icon aria-label="Example icon-button with a heart icon"
              >add</mat-icon
            >
          </button>
        </mat-header-cell>
  
        <mat-cell *matCellDef="let row; let i = index">
          <button
            mat-icon-button
            color="primary"
            (click)="openDialog(2, row.id, row.brojIndeksa,
            row.ime, row.prezime, row.grupa, row.projekat)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
  
          <button
            mat-icon-button
            color="primary"
            (click)="openDialog(3, row.id, row.brojIndeksa,
           row.ime, row.prezime, row.grupa, row.projekat)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        style="cursor: default"
        *matRowDef="let row; columns: displayedColumns">
      </mat-row>
    </mat-table>
    <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>