<mat-sidenav-container class="example-container">
    <mat-sidenav mode="over" [fixedInViewport]="true" opened mode="side">
      <mat-accordion>
        <a mat-button style="text-align: center">
          <mat-icon [routerLink] = "['/home']">
            Home
          </mat-icon>
        </a>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Aplikacija
            </mat-panel-title>
            <mat-panel-description>
              Aplikacija za vodjenje evidencije
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a [routerLink] = "['/smer']"  mat-button>Smer</a>
          </mat-nav-list>
          <mat-nav-list>
            <a [routerLink] = "['/grupa']" mat-button>Grupa</a>
          </mat-nav-list>
          <mat-nav-list>
            <a [routerLink] = "['/projekat']" mat-button>Projekat</a>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Informacije
            </mat-panel-title>
            <mat-panel-description>
              Osnovne informacije o aplikaciji
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a [routerLink] = "['/home']" mat-button>Početna</a>
          </mat-nav-list>
          <mat-nav-list>
            <a [routerLink] = "['/author']" mat-button>Autor</a>
          </mat-nav-list>
          <mat-nav-list>
            <a [routerLink] = "['/about']" mat-button>O nama</a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-sidenav>
    <router-outlet></router-outlet>
</mat-sidenav-container>